
#imageDialog {
    max-width: 200px;
    width:200px;
    background-color: white;
    opacity: 1;
    position:absolute;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0 0 5px 1px black;
    z-index:300;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    display: none;
}

#imageDialog .single-choice-btn-grp {
    margin-top: 10px;
}

#imageDialog .anno-inputs {
    display: inherit;
}

#imageDialog input[type="text"] {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    width: 100%;
    font-size: smaller;
}

#imageDialog label {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

#annotation-id {
    display: block;
    padding: 2px;
    font-size: 9px;
}

#imageDialog .btn {
    font-size: 11px;
    height: auto;
    margin-bottom :5px;
    padding: 2px;
    margin-right: 2px;
    font-weight: 400;
}

#imageDialog .input-title {
  font-size: 10px;
}

#imageDialog .anno-inputs label {
    width: 100%;
}

#actionsBtngrp {
    display:  flex;
    justify-content: flex-end;
}

#imageDialog  .boxshadow 
{
  -moz-box-shadow: 3px 3px 5px #535353;
  -webkit-box-shadow: 3px 3px 5px #535353;       
  box-shadow: 3px 3px 5px #535353;
}
#imageDialog  .roundbox
{  
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px;  
  border-radius: 6px 6px 6px 6px;
}

#saveBtn {
  /*box-shadow: 3px 3px 5px #535353;*/
}

#lineWidth {
    display: inline;
    width: 40px;
}

#commands
{
  margin-top: 10px;
}

#list-controls
{
  display: none;
}


#annotationList 
{
  display: flex;
  width:100%;
  flex-direction: column;
}

#annotationList .row
{
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  justify-content: space-between;
}

#annotationList .row div:last-child {
  margin-left: auto;
  margin-right: -5px;
  border: black solid 1px;
  background-color: white;
}

#annotationList .row div:first-child {
  width:20px;
}

#annotationList .GridCell
{
  min-width: 20px;
  overflow-x: auto;
  margin-left: 5px;
  margin-right: 5px;
}


#annotation-list-container 
{
   margin-right: 5px;
   max-height: 200px;
   overflow-y: scroll !important;
}

#annotation-list-container table {
    border: 1px solid black;
}

#annotation-list-container button {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

/*#annotation-list-content
{
  min-height:101%;
}*/


.nrow {

    margin-right: -15px;
    margin-left: -15px;

}

/* ROW */
.mrow {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

.header {
    grid-column: span 12;
}

.col-xs-12 {
    grid-column: span 12
}

.col-xs-11 {
    grid-column: span 11;
}

.col-xs-10 {
    grid-column: span 10
}

.col-xs-9 {
    grid-column: span 9
}

.col-xs-8 {
    grid-column: span 8
}

.col-xs-7 {
    grid-column: span 7
}

.col-xs-6 {
    grid-column: span 6
}

.col-xs-5 {
    grid-column: span 5
}

.col-xs-4 {
    grid-column: span 4
}

.col-xs-3 {
    grid-column: span 3
}

.col-xs-2 {
    grid-column: span 2
}

.col-xs-1 {
    grid-column: span 1
}

@media (min-width: 768px) {
    .col-sm-12 {
        grid-column: span 12
    }

    .col-sm-11 {
        grid-column: span 11;
    }

    .col-sm-10 {
        grid-column: span 10
    }

    .col-sm-9 {
        grid-column: span 9
    }

    .col-sm-8 {
        grid-column: span 8
    }

    .col-sm-7 {
        grid-column: span 7
    }

    .col-sm-6 {
        grid-column: span 6
    }

    .col-sm-5 {
        grid-column: span 5
    }

    .col-sm-4 {
        grid-column: span 4
    }

    .col-sm-3 {
        grid-column: span 3
    }

    .col-sm-2 {
        grid-column: span 2
    }

    .col-sm-1 {
        grid-column: span 1
    }
}

@media (min-width: 992px) {
    .col-md-12 {
        grid-column: span 12
    }

    .col-md-11 {
        grid-column: span 11;
    }

    .col-md-10 {
        grid-column: span 10
    }

    .col-md-9 {
        grid-column: span 9
    }

    .col-md-8 {
        grid-column: span 8
    }

    .col-md-7 {
        grid-column: span 7
    }

    .col-md-6 {
        grid-column: span 6
    }

    .col-md-5 {
        grid-column: span 5
    }

    .col-md-4 {
        grid-column: span 4
    }

    .col-md-3 {
        grid-column: span 3
    }

    .col-md-2 {
        grid-column: span 2
    }

    .col-md-1 {
        grid-column: span 1
    }
}

@media (min-width: 1200px) {
    .col-lg-12 {
        grid-column: span 12
    }

    .col-lg-11 {
        grid-column: span 11;
    }

    .col-lg-10 {
        grid-column: span 10
    }

    .col-lg-9 {
        grid-column: span 9
    }

    .col-lg-8 {
        grid-column: span 8
    }

    .col-lg-7 {
        grid-column: span 7
    }

    .col-lg-6 {
        grid-column: span 6
    }

    .col-lg-5 {
        grid-column: span 5
    }

    .col-lg-4 {
        grid-column: span 4
    }

    .col-lg-3 {
        grid-column: span 3
    }

    .col-lg-2 {
        grid-column: span 2
    }

    .col-lg-1 {
        grid-column: span 1
    }
}

