<!--<div id="imageDialog" class="roundbox boxshadow imageDialog" style="display:none">-->
    <!--<div class="anno-inputs" id="annotation-text" >-->
        <!--<label id="annotation-id">Annotation</label>-->
        <!--<input type="text" id="annotation-author" name="author" placeholder="author"/>-->
        <!--<input type="text" id="annotation-text" name="annotations" placeholder="annotations"/>-->
    <!--</div>-->
<!--&lt;!&ndash;     <div class="btn-group single-choice-btn-grp" data-toggle="buttons"> &ndash;&gt;-->
    <!--<div class="multi-choice-btn-grp" id="tags">-->
      <!--<label for="homogeneous" class="btn btn-primary btn-sm">-->
        <!--<div class="tags" id="homogeneous"> homogeneous </div>-->
      <!--</label>-->
      <!--<label for="hetereogeneous" class="btn btn-primary btn-sm">-->
        <!--<div class="tags" id="hetereogeneous"> hetereogeneous </div>-->
      <!--</label>-->
      <!--<label for="dark" class="btn btn-primary btn">-->
        <!--<div class="tags" id="dark"> dark </div>-->
      <!--</label>-->
    <!--</div>-->

    <!--<div class="btn-grp" id="actionsBtngrp">-->
      <!--<button type="button" id="saveBtn" class="btn btn-success">Save</button>-->
    <!--</div>-->
<!--</div>-->