{{!--
    This software was developed at the National Institute of Standards and
    Technology by employees of the Federal Government in the course of
    their official duties. Pursuant to title 17 Section 105 of the United
    States Code this software is not subject to copyright protection and is
    in the public domain. This software is an experimental system. NIST assumes
    no responsibility whatsoever for its use by other parties, and makes no
    guarantees, expressed or implied, about its quality, reliability, or
    any other characteristic. We would appreciate acknowledgement if the
    software is used.
--}}

<div id="{{dialogId}}" title="Filters configuration">
    <div class="wdzt-table-layout wdzt-filtering-dialog-content">
        <div class="wdzt-row-layout">
            <div class="wdzt-cell-layout wdzt-filtering-available-cell">
                <h3>Available filters</h3>
            </div>
            <div class="wdzt-cell-layout wdzt-filtering-selected-cell">
                <h3>Selected filters</h3>
            </div>
        </div>
        <div class="wdzt-row-layout">
            <div class="wdzt-cell-layout wdzt-filtering-available-cell">
                <ul id="{{availableFiltersId}}"></ul>
            </div>
            <div class="wdzt-cell-layout wdzt-filtering-selected-cell wdzt-full-width">
                <ul id="{{selectedFiltersId}}"></ul>
                <p>Drag and drop the selected filters to set their order.</p>
            </div>
        </div>
    </div>

</div>
