<div class="wdzt-table-layout wdzt-full-width">
    <div class="wdzt-row-layout">
        <div class="wdzt-cell-layout">
            <input id="{{spinnerId}}" type="text" size="1"
                   class="ui-widget-content ui-corner-all"/>
        </div>
        <div class="wdzt-cell-layout wdzt-full-width">
            <div id="{{sliderId}}" class="wdzt-menu-slider">
            </div>
        </div>
    </div>
</div>
